extends layout

block content
  h1= title
  p Welcome to #[em Journal Entries], POC to read day one journal exports and learn some JS

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p How many Entries are there in the export

  div
  table#entrytable.ui.celled.padded.table
    thead
      tr: th(colspan="2") Entries
    tbody
      each entries in message
        tr
          td #{entries.text}
          td #{entries.creationDate}
