extends layout

block content
  h1=title

  .ui.five.column.centered.grid
    .column Date
    .column Location
    .column
       form(method='post', enctype='multipart/form-data' action='/journal/entry/image/add')
        input(type='file', name='imageupload')
        input(type='submit', name='uploadimage', value='Upload Image')
    .column Delete
    .column Star 
  
    .row
      .column
    form.ui.form(method='POST' action='')   
      .field
        label(for='text')
        textarea(cols='150', type='text', placeholder='Text  (Nlah Blah) last' name='text' required='true' value=(undefined===entry ? '' : entry) )
      .column
        button.ui.button(type='submit') Submit
  
  if errors 
    ul
      for error in errors
        li!= error.msg