doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/main.min.js')
    script(src='/vendor/fontawesome/fontawesome-all.js')

    script(src='/semantic/dist/semantic.min.js')
    
   
  body
    block content
